<% content = capture do %>
  <i class="fa fa-<%= value == 'manifest' ? 'lock' : 'unlock' %>"></i>
  <%= hidden_field_tag name, value %>
<% end %>
<% if defined?(read_only) && read_only %>
  <span class="lock add-on"><%= content %></span>
<% else %>
  <a class="lock add-on" onclick="change_sticky(this)"><%= content %></a>
<% end %>
<script>
  if (!window.change_sticky) {
    window.change_sticky = function(source) {
      source = $j(source);
      if (source.parents("form")[0].edit) {
        var input = source.find("input[type=hidden]");
        input.val(input.val() == "manifest" ? "" : "manifest");
        source.find("i.fa").toggleClass("fa-lock fa-unlock");
      }
    };
  }
</script>
