<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FoundationSuite">
   <test verbose="5" name="ServerTests">
   <packages>
       <package name="com.oneops.opamp.service"/>
       <package name="com.oneops.opamp.jms"/>
       <package name="com.oneops.opamp.exceptions"/>
       <package name="com.oneops.opamp.ws"></package>
       <package name="com.oneops.opamp.rs"></package>
       <package name="com.walmart.oneops.azure.integration"></package>
       
   </packages>
  
     
    </test>
<!-- 
        "com.oneops.opamp.exceptions" />
              "com.oneops.opamp.jms" />
             com.oneops.opamp.service  -->
</suite>
