<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FoundationSuite">
	<test verbose="5" name="ServerTests">
		<packages>
			<package
				name="com.oneops.sensor">		      
			</package>
			<package
				name="com.oneops.sensor.ws">		      
			</package>
			<package
				name="com.oneops.sensor.util">		      
			</package>
			<package
				name="com.oneops.sensor.listeners">		      
			</package>
			<package
				name="com.oneops.sensor.jms">		      
			</package>
			<package
				name="com.oneops.sensor.domain">		      
			</package>
		</packages>
	</test>
	
</suite>
