<% if manages_admins? || is_admin? %>
  <% admin_limit_check = violates_admin_limit? %>
  <% if admin_limit_check %>
    <div class="alert alert-danger">
      This organization is <b>in violation</b> of max admin count policy: number of admin users
      <%- if admin_limit_check[3].present? %>
        (excluding global admins)
      <% end %>
      [<%= admin_limit_check[0] %>] exceeds the maximum allowed limit of <%= admin_limit_check[2] %> admins per organization.
      Remove some users and/or groups from the <em>admins</em> team to comply with max admin count policy.
    </div>
  <% end %>
<% end %>
