<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">

	<mapping>
		<class-a>com.oneops.cms.dj.domain.CmsDeployment</class-a>
		<class-b>com.oneops.search.domain.CmsDeploymentSearch</class-b>
	</mapping>
	<mapping>
		<class-a>com.oneops.cms.cm.ops.domain.CmsOpsProcedure</class-a>
		<class-b>com.oneops.search.domain.CmsOpsProcedureSearch</class-b>
	</mapping>
	<mapping>
		<class-a>com.oneops.cms.cm.domain.CmsCI</class-a>
		<class-b>com.oneops.search.domain.CmsCISearch</class-b>
		<field-exclude> 
  			<a>ops</a> 
  			<b>ops</b> 
		</field-exclude>
	</mapping>
	<mapping>
		<class-a>com.oneops.antenna.domain.NotificationMessage</class-a>
		<class-b>com.oneops.search.domain.CmsNotificationSearch</class-b>
	</mapping>
	
</mappings>

