<% if @availability %>
  <%= render 'availability_graph', :availability => @availability, :legend => false %>
  <%= link_to_function(highlight(pluralize(@notifications.size, 'notification')), "setHashParam('#', 'notifications');") %>
<% else %>
  <p class="text-error"><%= icon('exclamation-triangle') %> <strong>Failed to retrieve availability data</strong></p>
<% end %>
