<div class="alert alert-info">
  <%= icon('spinner fa-spin') %> Design pull is in progress, started <strong><%= time_ago_in_words(@environment.updated_timestamp) %></strong>.
</div>
<script>
  // First poll in 5 sec, 10 sec thereafter.
  window.design_pull_refresh_interval = window.design_pull_refresh_interval ? 10000 : 5000;
  setTimeout(function () {
               $j.get("<%= pull_status_assembly_transition_environment_path(@assembly, @environment) %>");
             },
             window.design_pull_refresh_interval);
</script>
