<ul class="status">
  <li class="status-marker"><%= render 'status_design' %></li>
  <li class="status-marker"><%= render 'status_release' %></li>
  <li id="status_deployment" class="status-marker"><%= render 'base/environments/status_deployment' %></li>
</ul>
