<div class="well well-small text-error">
  <i class="icon-2x icon-exclamation"></i>&nbsp;&nbsp;
  There are <%= pluralize(count, 'work order') %> that rely on instances in bad state.
  You are advised <strong>NOT</strong> to proceed with deployment until all instances are healthy.
  <%= link_to('Click here', assembly_operations_environment_path(@assembly, @environment, :anchor => 'health')) %>
  to review the list of instances in bad state.
</div>
