<% if @rfc %>
  <h4>
    <%= @rfc.ciName %> <br/>
    <%= @rfc.ciClassName %> <br/>
    <%= @rfc.nsPath %>
  </h4>
<% end %>
<%= render 'cms/log_data', :log_data => @log_data %>

<script>
  window.log_line_selected = function(source, event) {
    var lineNumber = source.id.substr(1);
    var li = $j(source);
    var selected = li.hasClass('selected');

    if (event.ctrlKey || event.metaKey) {
      var hash = window.location.hash;
      if (selected) {
        window.location.hash = hash.replace(new RegExp(",?" + lineNumber), "");
      }
      else {
        window.location.hash = hash + "," + lineNumber;
      }
      li.toggleClass('selected');
    }
    else {
      li.parents(".log").find("li.selected").removeClass('selected');
      if (selected) {
        window.location.hash = '';
      }
      else {
        window.location.hash = lineNumber;
        li.addClass('selected');
      }
    }
  };

  window.location.hash.substr(1).split(',').forEach(function(l) {
    if (l) {
      $j("#L" + l).addClass('selected');
    }
  });
  var l = $j(".log .selected")[0];
  if (l) {
    l.scrollIntoView(true);
  }
</script>
