<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}\t%5p\t%c{1}:%L\t%m%n" />
		</layout>
	</appender>

	<appender name="roller" class="org.apache.log4j.FileAppender">
		<param name="File" value="/opt/oneops/log/inductor.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}\t%5p\t%c{1}:%L\t%m%n" />
		</layout>
	</appender>
	<logger name="me.prettyprint">
		<level value="warn" />
	</logger>
	<logger name="org.apache">
		<level value="info" />
	</logger>
	<logger name="com.oneops">
		<level value="debug" />
	</logger>
	<root>
		<level value="info" />
		<appender-ref ref="roller" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>