<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<!--setting name="cacheEnabled" value="false" /-->
		<setting name="localCacheScope" value="STATEMENT" />
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<typeAliases>
		<typeAlias alias="mdclass" type="com.oneops.cms.md.domain.CmsClazz" />
		<typeAlias alias="mdclassattr" type="com.oneops.cms.md.domain.CmsClazzAttribute" />
		<typeAlias alias="mdrelation" type="com.oneops.cms.md.domain.CmsRelation" />
		<typeAlias alias="mdrelattr" type="com.oneops.cms.md.domain.CmsRelationAttribute" />
	</typeAliases>
	<plugins>
		<plugin interceptor="com.oneops.mybatis.StatsPlugin"/>
	</plugins>
	<mappers>
		<mapper resource="com/oneops/cms/md/dal/ClazzMapper.xml" />
		<mapper resource="com/oneops/cms/md/dal/RelationMapper.xml" />
		<mapper resource="com/oneops/cms/ns/dal/NSMapper.xml" />
		<mapper resource="com/oneops/cms/cm/dal/CIMapper.xml" />
		<mapper resource="com/oneops/cms/dj/dal/DJMapper.xml" />
		<mapper resource="com/oneops/cms/cm/ops/dal/OpsMapper.xml" />
		<mapper resource="com/oneops/cms/util/dal/UtilMapper.xml" />
	</mappers>

</configuration>