<div class="control-group">
  <%= f.label :name, 'Name*', :class => 'control-label' %>
  <div class="controls"><%= f.text_field :name, :class => 'input-xlarge', :required => true, :placeholder => 'Name' %></div>
</div>
<div class="control-group">
  <%= f.label :description, 'Description', :class => 'control-label' %>
  <div class="controls"><%= f.text_field :description, :class => 'input-xlarge text', :placeholder => 'Description', :rows => 5 %></div>
</div>
