<%= list(@team.users.all,
         :new_link => is_admin? && link_to_function(icon('plus', 'Add user...'), 'new_team_user_dialog()'),
         :toolbar => {:list_name => 'team_user_list',
                      :sort_by   => [%w(Username username), %w(Email email)],
                      :filter_by => %w(username email)}) do |builder, user| %>
  <% builder.itemid user.id %>
  <% builder.attributes raw(%(username="#{user.username}" email="#{user.email}")) %>
  <% builder.target link_to_function('', '') %>
  <% builder.top do %>
    <span class="topname"><%= user.username %></span>
    <span class="topdesc"><%= user.email %></span>
  <% end %>
  <% full_name = user.name
     builder.middle full_name if full_name.present? %>
  <% if is_admin? %>
    <% builder.menu do %>
      <%= link_to(icon('remove', 'Remove'), organization_team_member_path(@team, user, :type => 'user'), :method => :delete, :remote => true, :confirm => "Remove user '#{user.username}' from team '#{@team.name}'?") %>
    <% end %>
  <% end %>
<% end %>
