<% new_record = @policy.new_record? %>
<%= section_panel new_record ? 'New  Policy' : 'Policy Details', :width => 'double', :position => 'right' do %>
  <%= locals = {:resource  => @policy,
                :read_only => !manages_org?}
      if new_record
        locals[:form_url] = organization_policies_path
      else
        locals[:form_url]    = organization_policy_path(@policy)
        locals[:destroy_url] = organization_policy_path(@policy)
      end
      render 'base/shared/edit_form', locals %>
  <% unless new_record || @policy.ciAttributes.query.blank? %>
    <div style="text-align: right">
      <%= link_to raw(icon('play', 'Evaluate')), evaluate_organization_policy_path(@policy), :class => 'btn btn-success' %>
    </div>
  <% end %>
<% end %>
