<%= section_panel 'Release Details', :width => 'double', :position => 'right' do %>
  <%= render 'cms/releases/edit', :release => release %>
  <%= render 'base/release/release_diff_list', :rfc_cis => release.rfc_cis, :rfc_relations => release.rfc_relations %>
  <% if release.releaseState == 'open' && has_transition?(@assembly.ciId) %>
    <div class="controls">
      <%= render 'transition/releases/controls' %>
    </div>
  <% end %>
<% end %>
