<% if data.present? %>
  <table>
    <% data.each_pair do |k, v| %>
      <% if v.is_a?(String) && v.start_with?('{') && v.end_with?('}')
           begin
             v = JSON.parse(v)
           rescue Exception => e
           end
         end
         if v.present? %>
        <tr>
          <td title="<%= k %>"><%= k %>:</td>
          <td>&nbsp;&nbsp;</td>
          <td title="<%= v %>"><%= v.is_a?(Hash) ? render('base/shared/nested_hash', :data => v) : v %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>

