<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<typeAlias alias="mdclass" type="com.oneops.cms.md.domain.CmsClazz" />
		<typeAlias alias="mdclassattr" type="com.oneops.cms.md.domain.CmsClazzAttribute" />
		<typeAlias alias="mdrelation" type="com.oneops.cms.md.domain.CmsRelation" />
		<typeAlias alias="mdrelattr" type="com.oneops.cms.md.domain.CmsRelationAttribute" />
		<typeAlias alias="mdclrelation" type="com.oneops.cms.md.domain.CmsClazzRelation" />
		
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url" value="jdbc:postgresql://localhost/kloopzdb" />
				<property name="username" value="kloopzcm" />
				<property name="password" value="kloopzcm" />
				<property name="defaultAutoCommit" value="false" />
			</dataSource>
		</environment>
	</environments>
		
	<mappers>
		<mapper resource="com/oneops/cms/md/dal/ClazzMapper.xml" />
		<mapper resource="com/oneops/cms/md/dal/RelationMapper.xml" />
		<mapper resource="com/oneops/cms/cm/dal/CIMapper.xml" />
		<mapper resource="com/oneops/cms/ns/dal/NSMapper.xml" />
		<mapper resource="com/oneops/cms/dj/dal/DJMapper.xml" />
        <mapper resource="com/oneops/cms/cm/ops/dal/OpsMapper.xml" />
		<mapper resource="com/oneops/cms/util/dal/UtilMapper.xml" />
	</mappers>

</configuration>