body {
	margin: auto;
}

.chart {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #fff;
	width: 890px;
	min-height: 210px;
}

.section-content table.metric_group_range_selector {
	float: left;
	position: relative;
	padding: 5px;
	margin: 5px;
	width: 60px;
	font-size: 12px;
	font-weight: normal;
	color: #aaa;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
	border-spacing: 10px;
}

.section-content table.metric_group_range_selector td {
  width: 42px;
  text-align: right;
  cursor: pointer;
  padding: 5px;
  border-right: solid 3px whitesmoke;
}

.section-content table.metric_group_range_selector td:hover {
		color: #555;
	border-right: solid 3px orange;
}

.section-content table.metric_group_range_selector td.selected {
		color: #555;
	border-right: solid 3px orange;
}

.section-content table.metric_group_range_selector td.compare {
  height: 26px;
  cursor: pointer;
  border-spacing: 10px; 
}

.section-content table.metric_group_range_selector td.compare:hover {
	border-right: solid 3px lightblue;
}

.section-content table.metric_group_range_selector td.compare.selected {
	border-right: solid 3px lightblue;
}

.metric_group_chart {
	float: left;
	position: relative;
}
