/* graph */

.graph .node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.graph .node text, .graph .edge text {
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}

.graph path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.graph .node circle {
	fill: #fff;
	stroke: #888;
	stroke-width: 1.5px;
}

.graph .node circle.good {
	stroke: #51a351;
}

.graph .node circle.underutilized {
	stroke: steelblue;
}

.graph .node circle.notify  {
	stroke: #faa732;
	stroke-width: 2.5px;
}

.graph .node circle.overutilized {
	stroke: #fa772b;
	stroke-width: 2.5px;
}

.graph .node circle.unhealthy {
	stroke: #bd362f;
	stroke-width: 2.5px;
}

.graph .node text.add[deployment="pending"] {
  fill: #51a351;
}

.graph .node text.replace[deployment="pending"] {
  fill: #51a351;
}

.graph .node text.delete[deployment="pending"] {
  fill: #bd362f;
}

.graph .node text.update[deployment="pending"] {
  fill: #faa732;
}

.graph .node text[pkg="bom"] {
  font-size: 10px;
  font-weight: 300;
}

.graph .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}
