<% log.each do |e| %>
  <% message = e['message'].gsub(/^.*cmd out:/, '')
     if message =~ /ERROR:|FATAL:/
       class_name = 'error'
     elsif message =~ /WARN:/
       class_name = 'warning'
     elsif message =~ /INFO:/
       class_name = 'info'
     else
       class_name = ''
     end %>
  <li class="<%= class_name %>"><%= message %></li>
<% end %>
