<a class="pull-right" onclick="$j(this).siblings('.report').find('tr.total, tr.subtotal, tr.subsubtotal').toggle(300)">
  <i class="icon-star-half-empty"> Toggle totals</i>
</a>
<%= render 'compute_table', :data => @data %>
