<%= organization_page_header %>

<%= page_title :page_icon => 'cost',
               :page_kind => 'Cost Explorer' %>

<%= page_info 'Cost report and analysis' %>

<div id="cost_report_results">
  <%= render 'cost' %>
</div>
