<div class="control-group">
  <%= label_tag 'document[notice]', 'Notice', :class => 'control-label' %>
  <div class="controls">
    <%= text_area_tag 'document[notice]', resource.document[:notice], :class => 'input-xlarge text', :rows => 15 %>
  </div>
</div>
<div class="control-group">
  <%= label_tag 'document[critical]', 'Critical', :class => 'control-label' %>
  <div class="controls">
    <%= text_area_tag 'document[critical]', resource.document[:critical], :class => 'input-xlarge text', :rows => 15 %>
  </div>
</div>
