<% support_page_header('deployment', 'Deployment Approvals') %>
<%= section_panel 'Cloud Support',
                    :width => 'triple' do %>
  <div id="cloud_support_list">
    <%= render 'cloud_support_list' %>
  </div>
<% end %>
