<div class="brand">
  <%= link_to root_path do %>
    <%= image_tag('logo.png', :class => 'brand-logo') %>
    <span class='brand-name'>
      <span style="color:#4183C4">One</span><span style="color:#ffc120">Ops</span>
    </span>
  <% end %>
</div>
