<div id="flash_error_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 style="color: red">Error</h4>
  </div>
  <div class="modal-body alert alert-danger" style="margin-bottom: 0"></div>
  <div class="modal-footer">
    <button class="btn btn-primary" onclick="hide_modal()">close</button>
  </div>
</div>
