<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', :media => "all" %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'd3.v3', 'rickshaw' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
